.mt-12{
  margin-top: 3rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.Dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.welcome-message {
  display: flex;
}

.welcome {
  display: inline-block;
  margin: 0px;
  padding-right: 0.4em;
}

.name {
  display: inline-block;
  margin: 0px;
}

@media (min-width: 768px){
  .md-w-56{
    width: 14rem
  }
}


@media (min-width: 1024px){
  .lg-w-80{
    width: 20rem
  }
}

@media (min-width: 1024px){
  .lg-flex-nowrap{
    flex-wrap: nowrap
  }
}
