.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #FAFBFB;
    color: #333;
  }
  
  .footer-logo img {
    width: 100px; 
  }
  
  .footer-text {
    font-size: 14px;
    text-align: center;
    margin-left: 70%;
    margin-top: 2%;
  }
  