.title {
  margin-bottom: 1rem;
  font-size: x-large;
  font-weight: 700;
}
.Logo {
  font-size: 4rem;
  margin-right: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  color: blueviolet;
  /* background-color: #ac6aff; */
}
.HeaderPos {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 50;
  background-color: #0e0c15;
  border-bottom: 1px solid #252134;
  opacity: 0.9;
  backdrop-filter: blur(4px);
}

.HeaderContainer {
  display: flex;
  align-items: center;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.LogoContainer {
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.navContainer {
  position: fixed;
  display: flex;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  /* background-color: aqua; */
}

.navContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
}

.navItem {
  /* background-color: aqua; */
  text-decoration: none;
  position: relative;
  display: block;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  color: white;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
  transition-property: color;
  transition-duration: 0.3s;
  /* background-color: aquamarine; */
}

.navItem:hover {
  color: #ac6aff;
}

.activeItem {
  z-index: 2;
  color: white;
}

.unActiveItem {
  color: rgba(255, 255, 255, 0.5);
}

.buttonsContainer {
  position: fixed;
  right: 30px;
  color: white;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
  transition-property: color;
  transition-duration: 0.3s;
  /* background-color: #AC6AFF; */
}

.signUpButton {
  text-decoration: none;
  width: 5rem;
  margin-right: 1rem;
  height: 2rem;
  transition-property: color;
  transition-duration: 300ms;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  /* background-color: #AC6AFF; */
}

.loginButton {
  text-decoration: none;
  width: 5rem;
  margin-right: 1rem;
  height: 2rem;
  transition-property: color;
  transition-duration: 300ms;
  font-weight: 600;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ac6aff;
}

.loginButton:hover {
  color: white;
}

.signUpButton:hover {
  color: #ac6aff;
}
