.options-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
    margin-left: 5ch;
    margin-right: 5ch;
    margin-top: 5ch;
    margin-bottom: 5ch;
}

.email-options {
    width: 48%;
    height: 400px;
    background-color: white;
    border: 3px solid #7f45f2;
    border-radius: 25px;
    cursor: pointer;

    /* Additional styling to reset some default button styles */
    font-size: 2em;
    line-height: 100px; /* This helps vertically center the text */
    text-align: center;
    
    /* Optional: Add a hover effect */
    transition: background-color 0.3s;
    font-weight: bold;
}

.email-options:hover {
    background-color:  #9c6aff; /* Darker shade on hover */
    color: white;  
    border: 3px solid white;
}