.render-container {
  display: flex;
  height: 50vh;
  flex-direction: column;
  align-items: center;

  
}

.render-container h1 {
  display: flex;
  align-self: top;
}

.fileBtnDiv {
  display: flex;
  position: relative;
  border-radius: 1em;
  border: solid;
  border-color: #7f45f2;
  height: 10vh;
  width: 50vw;
  align-items: center;
  justify-content: center;  
  text-align: center;
  margin-top: 10vh;
  transition: 0.2s;
}

.fileBtnDiv:hover {
  cursor: pointer;
  border-radius: 1em;
  background-color: #7f45f2;
  color: white;
}

.fileText {
  position: absolute;
}

.fileText {
  position: absolute;
}

.fileBtn::-webkit-file-upload-button {
  visibility: hidden;
  width: 100%;
}
.fileBtn {
  display: flex;
  height: 10vh;
  width: 100%;
  color: transparent;
}

.uploadNotif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.48);
  z-index: 9999;
  top: 0;
  left: 0;

}

.notifText {
  position: relative;
  display: flex;
  padding: 30px;
  max-width: 20%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: solid;
  border-color: #7f45f2;
  border-radius: 0.8em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 2;
}

.notifText h3 {
  text-align: center;
}

.closeBtn {
  margin-top: 10px;
  background-color: rgb(192, 189, 189);
  border: none;
  border-radius: 10px;
  padding: 0.5em 0.8em;
  font-weight: 600;
  font-size: 13px;
  transition: 0.2s;
}

.closeBtn:hover {
  background-color: #7f45f2;
  color: white;
}


.textUploaded {
  color: black;
  padding: 3vh;
}

.textNotUploaded {
  color: transparent;
  padding: 3vh;
}

.submitBtn, .noSubmitBtn {
  display: flex;
  position: relative;
  border-radius: 1em;
  border: solid;
  border-color: #7f45f2;
  height: 10vh;
  width: 50vw;
  align-items: center;
  justify-content: center;  
  text-align: center;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 5vh;
  transition: 0.3s;
}

.submitBtn:hover {
  cursor: pointer;
  border-radius: 1em;
  background-color: #7f45f2;
  color: white;
}

.noSubmitBtn {
  color: rgb(125, 125, 125);
}

.noSubmitBtn:hover {
  animation: vibrate 0.4s;
}


@keyframes vibrate {
  0% { transform: translate(0.2px, 0px) rotate(0.4deg); }
  10% { transform: translate(-0.2px, 0px) rotate(-0.4deg); }
  20% { transform: translate(-0.2px, 0px) rotate(0.4deg); }
  30% { transform: translate(-0.2px, 0px) rotate(-0.4deg); }
  40% { transform: translate(0.2px, 0px) rotate(0.3deg); }
  50% { transform: translate(0.2px, 0px) rotate(-0.3deg); }
  60% { transform: translate(-0.2px, 0px) rotate(0.2deg); }
  70% { transform: translate(-0.2px, 0px) rotate(-0.2deg); }
  80% { transform: translate(0.2px, 0px) rotate(0.1deg); }
  90% { transform: translate(0.2px, 0px) rotate(-0.1deg); }
  100% { transform: translate(-0.2px, 0px) rotate(-0.1deg); }
}
