.OrganisationBar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 1rem;
  padding: 0.7rem;
  padding-right: 1.5rem;
  border: solid 1px rgba(255, 255, 255, 0.1);
  background-color: rgba(71, 64, 96, 0.4);
  backdrop-filter: blur(8px);
}

.MembersContainer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.MembersContainer h6 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}

.ProfileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProfileContainer ul {
  display: flex;
  margin: -2.5rem;
}

.ProfileContainer li {
  display: flex;
  width: 1.5rem;
  overflow: hidden;
  border-radius: 9999px;
  border-width: 2px;
  border-color: rgb(46, 42, 65);
}

.subHeading {
  font-weight: 300;
  font-size: 15px;
  color: grey;
}
