.sidebar-container {
  margin-left: 0.75rem;
  height: 100vh;
  overflow: auto;
  padding-bottom: 2.5rem;
}

.sidebar-listContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-title {
  margin-left: 0.75rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: blueviolet;
  text-decoration: none;
}

.sidebar-mt-10{
  margin-top: 2.5rem
}

.sidebar-closeMenuButton {
  border: none;
  display: block;
  border-radius: 999px;
  padding: 0.75rem;
  font-size: 1.25rem;
  background-color: #fafbfb;
}

.sidebar-closeMenuButton:hover {
  background-color: #F7F7F7
}

.sidebar-listTitles {
  margin: 0.75rem;
  margin-top: 1rem;
  text-transform: uppercase;
  color: rgb(156 163 175 / 1);
}

.sidebar-activeLink {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding-left: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  padding-bottom: 0.625rem;
  border-radius: 0.5rem;
  color: white;
  background-color: blueviolet;
  margin: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
}

.sidebar-normalLink {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding-left: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  padding-bottom: 0.625rem;
  border-radius: 0.5rem;
  color: rgb(55 65 81);
  margin: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
}

.sidebar-normalLink:hover {
  background-color: #F7F7F7;
}

/* Medium screen size */
@media (min-width: 768px) {
  /* Apply overflow-hidden by default */
  .md-overflow-hidden {
    overflow: hidden;
  }

  /* Apply overflow-auto on hover */
  .md-overflow-hidden:hover {
    overflow: auto;
  }
}

@media (min-width: 768px) {
  .md-hidden {
    display: none;
  }
}