.team-container {
  min-height: 100vh;
  min-width: 100%;
}

.team-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(#7f45f2 0, #3d266b 100%);
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.team-left, .team-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5vh 2vw 0 8vw;
}

.team-left {
  background-color: white;
  border-radius: 0px 100px 0px 0px;
  display: flex;
  align-items: flex-start;
}

.team-right {
  display: flex;
  position: relative;
}

.team-img {
  width: 85%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.team-info-container {
  margin: 10vh 0 3vh 0
}

.team-info-heading {
  padding: 0;
  margin: 0;
  color: #3d266b;
  font-size: 48px;
  display: inline-block;
}

.team-email {
  color: rgb(83, 83, 83);
  font-size: 20px;
}

.team-action {
  display: flex;
  text-align: center;
  margin-top: 15px;
  position: relative;
}

.team-invite, .team-leave {
  margin-right: 1vw;
  padding: 13px;
  border-radius: 10px;
  background-color: #7f45f2;
  color: white;
  width: 14vw;
  font-size: 20px;
}

.team-invite:hover, .team-leave:hover {
  cursor: pointer;
}

.copied {
  position: absolute;
  margin-top: 4px;
  padding: 0;
  top: 100%;
  left: 0;
  color: rgb(123, 123, 123);
}

.member-heading {
  color: #3d266b;
  font-size: 30px; 
}

.member-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 50vh;
  width: 100%;
  overflow-y: auto;
}

.member {
  padding: 3vh 0;
  margin-top: 1vh;
  margin-bottom: 2vh;
  border: solid #7f45f2;
  width: 83%;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7f45f2; 
  border-radius: 5px;
}

.team-send {
  position:absolute;
  display: flex;
  align-items: center;
  top: 25vh;
  left: 30%
}

.team-receive {
  position:absolute;
  display: flex;
  top: 35vh;
  left: 30%;
  align-items: center;
}

.team-send:hover, .team-receive:hover {
  cursor: pointer;
}

.team-send-text, .team-receive-text {
  color: white;
  font-size: 28px;
  display: inline;
}

.arrow {
  padding-left: 8px;
  color: white;
}

.team-loading {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(white, #7f45f2)
}

.loading-text {
  color: #3d266b;
  text-align: center;
  font-size: 80px;
  padding-left: 10vw;
  padding-top: 10vh
}

.load-img {
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

