.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 70%;
  left: 0.5%;
  /* transform: translateX(-50%); */
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
  border-radius: 9999px;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
}