.FI-Container{
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-bottom: 10px;
  /* background-color: rgb(20, 170, 100); */

}

.input {
  padding: 15px;
  margin: 10px 0px;
  font-size: large;
  /* background-color: rgb(111, 206, 235); */
}

.label{
  font-size: medium;
  color: gray;
}
