.S-Container{
  display: flex;
  flex-direction: column;
  width: 782px;
  margin-bottom: 10px;
  /* background-color: rgb(20, 170, 100); */
}

.S-select {
  padding: 15px;
  margin: 10px 0px;
  font-size: medium;
  /* background-color: rgb(111, 206, 235); */
}

.S-label{
  font-size: medium;
  color: gray;
}
